<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ScraperNo" value="1"/>
      <add key="DBreezeDataFolderName" value="C:\Users\Mr Zach\Documents\dbreeze"/>
      <add key="Scrapers" value="100"/>
      <add key="ScraperConnectionString" value="Server=(localdb)\mssqllocaldb;Database=Scraper2;Trusted_Connection=True;ConnectRetryCount=0"/>
      <!--<add key="ScraperConnectionString" value="Data Source=DEVSQL01\DEVSQL2016;Database=Scraper2;Integrated Security = true;"/>-->
      <add key="SyncInterval" value="6000000"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>